<!-- <button type="button" class="btn btn-warning">Warning</button> -->
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <ul class="nav nav-tabs">
        <li role="presentation" routerLinkActive="active" [routerLinkActiveOptions]={exact:true}><a href="#" routerLink="/">Home</a></li>
        <li role="presentation" routerLinkActive="active"><a href="#" routerLink="/Users">Users</a></li>
        <li role="presentation" routerLinkActive="active"><a href="#" routerLink="/Servers">Servers</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <router-outlet></router-outlet>
    </div>
    <!-- <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <app-users></app-users>
    </div>
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <app-servers></app-servers>
    </div> -->
  </div>
</div>

